@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    height: 7px;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background: #9b9797;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #6556CD;
   
}
 

/* card componenets styling \
 */

 .card {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-overlay-title {
    transition: background-color 0.3s ease-in-out;
  }
  
  .card:hover .card-overlay-title {
    background-color: rgba(0, 0, 0, 0.8);
  }
  